PYTHONPATH=src

DATABASE_NAME='help-desk'
DATABASE_HOST='localhost'
DATABASE_USERNAME='postgres'
DATABASE_PASSWORD='postgres'

KEYCLOAK_REDIRECT_URI=
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET_KEY=

DATABASE_ECHO=True
DATABASE_TEST_URL=postgresql+asyncpg://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}/${DATABASE_NAME}-test
TEST_AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n KEY-BODY \n-----END PUBLIC KEY-----"
TEST_AUTH_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n KEY-BODY \n-----END RSA PRIVATE KEY-----"
